{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
          <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <heyder>
        <a href="{% url 'home' %}">SignUp</a>
        <a href="{% url  'index' %}">SignIn</a>
        <a href="{% url 'lessons'%}">settings</a>
    </heyder>
    
    {% block content %}
    {% endblock content %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>